In [1]:
import numpy as np
import pandas as pd
import geojson

In [2]:
df=pd.read_csv('Reddsa2.csv')
df['HsSendDate']=pd.to_datetime(df['HsSendDate'])

In [3]:
origin=21

count=0
time=[]
tp=0
i=0
for i in range(len(df)):
    #s=sensors['Sn'][count]
    #if df['Sn'][i]==s:
    t=df['HsSendDate'][i].second
    while t<tp:
        t+=60
        
    time.append(t-origin)
    tp=t

df['Time']=time

In [4]:
df=df[['Sn','Lat','Lon','S_Gal','MdAct','Time']]

In [5]:
b=df['MdAct']=='ON'
df['MdAct']=b

In [6]:
sensors=df['Sn'].unique()

In [7]:
sensorframes=[]
for i in range(len(sensors)):
    sensorframes.append(df[df['Sn']==sensors[i]].reset_index().drop('index',axis=1))

In [8]:
sensorframes[0]

         Sn      Lat      Lon  S_Gal  MdAct  Time
0   1604062  15.6855 -93.2022   0.60  False    18
1   1604062  15.6855 -93.2022   0.65  False    19
2   1604062  15.6855 -93.2022   0.74  False    19
3   1604062  15.6855 -93.2022   1.16  False    20
4   1604062  15.6855 -93.2022   1.63  False    20
5   1604062  15.6855 -93.2022   2.13  False    21
6   1604062  15.6855 -93.2022   2.50  False    22
7   1604062  15.6855 -93.2022   2.83  False    24
8   1604062  15.6855 -93.2022   3.92  False    26
9   1604062  15.6855 -93.2022   4.88  False    28
10  1604062  15.6855 -93.2022   5.32  False    31
11  1604062  15.6855 -93.2022  10.20  False    34
12  1604062  15.6855 -93.2022  17.72  False    38
13  1604062  15.6855 -93.2022  25.20  False    44

In [9]:
t_max=df['Time'].max()

In [10]:
timeSensorFrames = []
newTime=list(range(t_max))
for sensorframe in sensorframes:
    timeSeries = np.asarray(sensorframe['Time'])
    S_GalSeries = np.asarray(sensorframe['S_Gal'])
    MdActSeries = np.asarray(sensorframe['MdAct'])
    counter = 0
    
    S_Gal_new = np.zeros(t_max)
    Md_Act_new = np.zeros(t_max)
    Sn_new = np.ones(t_max)*sensorframe['Sn'][0]
    Lat_new = np.ones(t_max)*sensorframe['Lat'][0]
    Lon_new = np.ones(t_max)*sensorframe['Lon'][0]
    i = timeSeries[0]
    
    local_max = timeSeries.max()
    while i < local_max+1 and i < t_max:
        
        
        if i == timeSeries[counter]:
            v=[]
            w=[]
            while i == timeSeries[counter] and counter < len(timeSeries)-1:
                v.append(S_GalSeries[counter])
                w.append(int(MdActSeries[counter]))
                counter+=1
            

            if len(v) > 0: 
                max_v = max(v)
                max_w = max(w)
            S_Gal_new[i] = max_v
            Md_Act_new[i] = max_w
                

            i += 1
        else:
            S_Gal_new[i] = max_v
            Md_Act_new[i] = max_w
            i += 1
    

            
    S_Gal_new[i:]=S_GalSeries[-1]*np.ones(len(S_Gal_new[i:]))        
    frame=pd.DataFrame()
    frame['Sn'] = Sn_new
    frame['Lat'] = Lat_new
    frame['Lon'] = Lon_new
    frame['MdAct'] = Md_Act_new
    frame['S_Gal'] = S_Gal_new
    frame['Time'] = newTime
    timeSensorFrames.append(frame)

In [11]:
all_sensors = pd.concat(timeSensorFrames,ignore_index=True)

In [12]:
import geojson

def data2geojson(df):
    features = []
    insert_features = lambda X: features.append(
            geojson.Feature(geometry=geojson.Point((X["Lon"],
                                                    X["Lat"])),
                            properties=dict(Sn=X["Sn"],
                                            S_Gal=X["S_Gal"],
                                           MdAct=int(X['MdAct']),
                                            Time=X['Time'],
                                            Description= '<strong> Sensor </strong> <p>Serial number: '
                                            + str(int(X['Sn']))+'</p> <p> Activated: ' + str(X['MdAct']) + 
                                            '</p> <p> Intensity: '+str(X['S_Gal'])+'</p>'
                                           )))
    df.apply(insert_features, axis=1)
    with open('map_all4.geojson', 'w', encoding='utf8') as fp:
        geojson.dump(geojson.FeatureCollection(features), fp, sort_keys=True, ensure_ascii=False)

In [14]:
data2geojson(all_sensors)

None